In [26]:
import findspark
findspark.init()

In [27]:
import pyspark

In [28]:
from pyspark.sql import SparkSession

In [29]:
spark = SparkSession.builder.appName("Case1").getOrCreate()

In [30]:
sc = spark.sparkContext

In [31]:
nums = sc.parallelize([1,2,3,4])

In [32]:
nums.map(lambda x: x*x).foreach(print)

In [33]:
!java -version

java version "1.8.0_231"
Java(TM) SE Runtime Environment (build 1.8.0_231-b11)
Java HotSpot(TM) 64-Bit Server VM (build 25.231-b11, mixed mode)

In [34]:
sc

# Create a csv file Employee_Database.csv
### columns = Employee_id, Skills, Joining_Date, Num_of_project, Next_Gen_eligibility, eligible_promotion, Careel Level

#### Num of employees=10000
#### Employee Id should be unique and it should consists of 8 digit
#### Joining Date should be within 1-1-2005 to 31-12-2020 (format 23Jan2015)
#### Skills should be python, pyspark, aws, scala, java, sql, hive
#### Assign Num_of_project between 1 to 10
#### As of Now, Keep Next_Gen_Eligibilty and eligible_promotion as no
#### Assign CareerLevel as L1, L2, L3, L4

In [10]:
Employee_id = []
import math
num_of_emp=10000
start = int(math.pow(10,7))

In [11]:
for i in range(1,num_of_emp+1):
    Employee_id.append(start + i)

In [12]:
len(Employee_id)

10000

In [13]:
Skill = ['python', 'pyspark', 'aws', 'scala', 'java', 'sql', 'hive']
import random

In [14]:
Emp_skill = []
NumOfProject = []
for _ in range(num_of_emp):
    Emp_skill.append(random.choice(Skill))
    NumOfProject.append(random.randint(1, 10))

In [15]:
len(Emp_skill)

10000

In [16]:
len(NumOfProject)

10000

In [17]:
import datetime
start_dt=datetime.datetime(2005,1,1)
end_dt=datetime.datetime(2020,12,31)
date_diff=end_dt-start_dt
date_diff.days

5843

In [18]:
Joining_dt = []
for _ in range(num_of_emp):
    req_dt = start_dt + datetime.timedelta(days=random.choice(range(date_diff.days)))
    Joining_dt.append(req_dt.strftime('%d%b%Y'))

In [19]:
Joining_dt

['26Jun2005',
 '03Feb2007',
 '28Mar2013',
 '26Jun2006',
 '03Jan2020',
 '13Feb2020',
 '04Jul2007',
 '21Dec2019',
 '04Mar2016',
 '10Mar2017',
 '18Jun2011',
 '01Dec2005',
 '02Apr2018',
 '29Sep2020',
 '09Oct2006',
 '09Feb2015',
 '29Apr2010',
 '11Feb2014',
 '29Apr2006',
 '07Dec2009',
 '21Dec2014',
 '15Dec2012',
 '13Mar2013',
 '09Feb2011',
 '22May2016',
 '03Aug2015',
 '20Feb2019',
 '09Jan2020',
 '30Aug2011',
 '21Mar2019',
 '19Jun2011',
 '23Apr2013',
 '29Jul2009',
 '03May2006',
 '29May2009',
 '02Jun2013',
 '09Nov2008',
 '23Nov2005',
 '20Nov2016',
 '04Apr2017',
 '17Jul2007',
 '24Jan2018',
 '12Sep2009',
 '11May2005',
 '15Sep2016',
 '22Feb2013',
 '10Mar2013',
 '09Aug2014',
 '01Oct2011',
 '02Apr2007',
 '17Feb2012',
 '15Oct2008',
 '28Feb2009',
 '08Sep2015',
 '25Jan2010',
 '02Jul2013',
 '15Feb2017',
 '13Aug2005',
 '19Jan2010',
 '21Jul2017',
 '08Nov2020',
 '23Jan2017',
 '04Aug2008',
 '29Jun2016',
 '26Aug2015',
 '06Jul2009',
 '15Jun2006',
 '14Aug2015',
 '13Aug2008',
 '19May2017',
 '27Jan2005',
 '09May2010',
 '03Feb2015',
 '24Dec2007',
 '20Jan2014',
 '28Oct2020',
 '17Aug2006',
 '23Mar2005',
 '12Jul2018',
 '30Nov2007',
 '08Aug2017',
 '01May2005',
 '15Mar2009',
 '25May2017',
 '27Sep2006',
 '18Nov2013',
 '11Mar2005',
 '04Apr2012',
 '08Jan2018',
 '09May2016',
 '24Apr2007',
 '18Feb2020',
 '27Jan2014',
 '08Aug2017',
 '27Mar2005',
 '13Aug2012',
 '31May2020',
 '27Sep2015',
 '20Jun2005',
 '18Jun2012',
 '23Dec2013',
 '04Jul2013',
 '09Aug2014',
 '04Jan2009',
 '16Dec2020',
 '10Jul2014',
 '13Dec2006',
 '29May2010',
 '29Dec2020',
 '25Oct2006',
 '22Aug2015',
 '15Jan2006',
 '01Jul2019',
 '13Nov2011',
 '24Sep2016',
 '06Nov2013',
 '28Jun2015',
 '15Mar2010',
 '25Oct2008',
 '31Jul2008',
 '06Apr2019',
 '30Jan2013',
 '04Jun2019',
 '02Oct2019',
 '30Nov2010',
 '28Sep2008',
 '15Feb2009',
 '24Nov2012',
 '03May2020',
 '20Sep2010',
 '21May2009',
 '24Jun2018',
 '20Mar2007',
 '17Jan2012',
 '04Apr2010',
 '31Jan2012',
 '23Aug2018',
 '18Oct2008',
 '06Sep2012',
 '27May2011',
 '05Mar2013',
 '10Feb2018',
 '30Jan2019',
 '13Apr2011',
 '25Jul2008',
 '23Aug2011',
 '18Jun2018',
 '20Mar2009',
 '03Dec2007',
 '27Mar2016',
 '13Mar2015',
 '22Jun2010',
 '28Apr2012',
 '09Jul2016',
 '05Nov2020',
 '21May2012',
 '13Jan2006',
 '27Jan2012',
 '06Nov2008',
 '06Aug2013',
 '04Jun2011',
 '25Apr2013',
 '15Sep2012',
 '25Oct2005',
 '25Nov2019',
 '01May2017',
 '22Aug2005',
 '01Nov2005',
 '03May2005',
 '07Sep2015',
 '29Apr2013',
 '28Mar2016',
 '06Jul2005',
 '14Jul2020',
 '11Nov2005',
 '14Jul2014',
 '22Dec2016',
 '22Apr2017',
 '22Sep2020',
 '01Apr2011',
 '29Oct2008',
 '15Oct2018',
 '21Aug2006',
 '29Mar2016',
 '15Sep2009',
 '13Jul2017',
 '08Mar2016',
 '22Feb2014',
 '10Jan2007',
 '28Jun2014',
 '27Jun2006',
 '06Aug2009',
 '19Nov2020',
 '27Dec2015',
 '25Apr2008',
 '10Feb2009',
 '01Aug2017',
 '11Aug2018',
 '26Aug2006',
 '06Sep2019',
 '15Aug2011',
 '23Feb2011',
 '10Feb2011',
 '26Feb2015',
 '17Apr2014',
 '15Jun2005',
 '23Jul2012',
 '26Sep2015',
 '31Oct2010',
 '14Jan2020',
 '17Oct2013',
 '17Dec2009',
 '29Jul2017',
 '20Aug2015',
 '09Apr2017',
 '18Jan2020',
 '25Apr2005',
 '12Sep2013',
 '08Sep2008',
 '30Aug2020',
 '02Jul2011',
 '05Feb2008',
 '23Aug2005',
 '21Apr2016',
 '23May2005',
 '23Dec2020',
 '17Jun2010',
 '06Jan2016',
 '22Aug2015',
 '20May2012',
 '15Feb2008',
 '22Mar2013',
 '28Jan2013',
 '14Sep2018',
 '21Sep2018',
 '16Oct2006',
 '02Apr2007',
 '25Jan2016',
 '14Oct2018',
 '15Jul2020',
 '09Jul2017',
 '19Jun2016',
 '01Apr2011',
 '04Sep2019',
 '25Nov2009',
 '15Mar2008',
 '04Mar2005',
 '28Dec2018',
 '18Dec2013',
 '02Oct2017',
 '15Mar2013',
 '16Jul2020',
 '06Apr2018',
 '11Nov2005',
 '09Sep2012',
 '05May2014',
 '31Oct2017',
 '25Nov2012',
 '02Jul2012',
 '21Jan2018',
 '11Jun2014',
 '09Feb2012',
 '05Jul2013',
 '24Jun2013',
 '05Apr2005',
 '07Jun2015',
 '08Apr2019',
 '18May2012',
 '16Mar2020',
 '15Jun2007',
 '16Sep2005',
 '17Oct2018',
 '05Jan2008',
 '03Aug2006',
 '30Mar2017',
 '25Dec2020',
 '25Sep2017',
 '21Jan2005',
 '25Jul2008',
 '14Feb2005',
 '31Aug2020',
 '10Jan2014',
 '31Jul2008',
 '19Nov2005',
 '27Oct2017',
 '22Apr2011',
 '06Sep2009',
 '30Nov2008',
 '16Oct2020',
 '27Jun2013',
 '25Feb2014',
 '07Aug2015',
 '03Feb2011',
 '06Nov2010',
 '05Sep2011',
 '14Jan2017',
 '08Nov2019',
 '20Apr2009',
 '30Mar2011',
 '25Feb2013',
 '18Jul2017',
 '18Oct2012',
 '21Jul2008',
 '25Jul2017',
 '13May2006',
 '29Jan2011',
 '20Oct2009',
 '16Aug2015',
 '08May2017',
 '13Apr2013',
 '06Aug2020',
 '18Aug2017',
 '08Jan2017',
 '09Nov2020',
 '09Aug2012',
 '13Oct2009',
 '25Dec2007',
 '13Dec2010',
 '17Feb2010',
 '25Oct2005',
 '14Feb2020',
 '11Sep2015',
 '16Apr2018',
 '19Oct2014',
 '11May2011',
 '01Jan2020',
 '10Jul2013',
 '11Feb2012',
 '25Feb2019',
 '10Jun2019',
 '22Jan2018',
 '04Mar2006',
 '29Jan2015',
 '23Oct2012',
 '07Aug2008',
 '13Jun2017',
 '13Feb2008',
 '13Feb2009',
 '18Jun2007',
 '18Sep2009',
 '22Oct2012',
 '04Dec2008',
 '10Aug2007',
 '27Feb2010',
 '30Jul2007',
 '28May2005',
 '15Oct2012',
 '13Jan2009',
 '31Aug2007',
 '11Jan2018',
 '02Apr2011',
 '17Jan2005',
 '26Dec2010',
 '08Dec2009',
 '18Sep2013',
 '05May2011',
 '25Sep2009',
 '28Nov2015',
 '30Jun2008',
 '02Feb2020',
 '18Mar2009',
 '07May2018',
 '17Jan2012',
 '05Aug2013',
 '20Nov2015',
 '27Jun2009',
 '03Mar2012',
 '05Sep2013',
 '24Jul2009',
 '28Apr2006',
 '19Sep2016',
 '09Dec2018',
 '13Dec2007',
 '15Apr2020',
 '07Jun2016',
 '27Mar2008',
 '12Mar2011',
 '28Sep2009',
 '24Jul2010',
 '21Jul2011',
 '22Sep2007',
 '26Feb2011',
 '30Jan2008',
 '12Sep2009',
 '07Aug2019',
 '10Jun2013',
 '14Mar2008',
 '23Aug2018',
 '26Mar2016',
 '29Jun2013',
 '13Dec2018',
 '07Feb2006',
 '04Jul2012',
 '25Oct2015',
 '09Mar2007',
 '23Dec2010',
 '26Jun2008',
 '27Jan2006',
 '27Mar2012',
 '27Mar2019',
 '15Mar2016',
 '12Oct2017',
 '13Jul2014',
 '27Jun2009',
 '06May2008',
 '22Jun2007',
 '17Jul2008',
 '11Jul2005',
 '21Mar2012',
 '19Feb2015',
 '05Dec2011',
 '13Jul2005',
 '09Feb2016',
 '13Jan2017',
 '05Mar2008',
 '29Oct2017',
 '04Feb2011',
 '18Dec2018',
 '15Jun2010',
 '30Jul2010',
 '02Dec2020',
 '30Dec2020',
 '12Sep2017',
 '04Oct2006',
 '19Jun2018',
 '10Nov2009',
 '07Jan2018',
 '23Sep2010',
 '01Mar2013',
 '09Apr2011',
 '05Nov2014',
 '17May2019',
 '02May2017',
 '25Nov2010',
 '03Dec2017',
 '23Oct2016',
 '06Mar2020',
 '13Aug2013',
 '08Aug2015',
 '19Jun2012',
 '24Jun2016',
 '17Oct2017',
 '23Feb2008',
 '18Dec2020',
 '21Mar2018',
 '28Sep2016',
 '19Dec2009',
 '17Mar2009',
 '18Jul2009',
 '19Jul2010',
 '27Jan2013',
 '17Oct2011',
 '12Jan2016',
 '02Apr2012',
 '14Mar2019',
 '26Oct2008',
 '25Sep2009',
 '09Jan2019',
 '18Jan2009',
 '06Aug2007',
 '19May2014',
 '17Nov2020',
 '17Dec2015',
 '08Apr2015',
 '11Jan2005',
 '25Dec2019',
 '18Jun2018',
 '12Jul2020',
 '15Mar2006',
 '18May2013',
 '15Jun2008',
 '30Jun2010',
 '05Jun2007',
 '18Jul2008',
 '26Jan2014',
 '02May2010',
 '02Jan2019',
 '25Nov2012',
 '21Feb2018',
 '12Mar2016',
 '15Aug2010',
 '13Jun2019',
 '13Jul2018',
 '21Sep2020',
 '24Jun2019',
 '06Jun2016',
 '18May2014',
 '10Aug2019',
 '08Apr2011',
 '22Jun2015',
 '12Mar2007',
 '07Jul2007',
 '26Jan2014',
 '12Mar2012',
 '28Aug2020',
 '14Dec2019',
 '21Oct2016',
 '31Dec2017',
 '10Aug2013',
 '22Oct2017',
 '25Jun2020',
 '29Jul2011',
 '09Jun2006',
 '26Aug2018',
 '21Dec2006',
 '02Aug2006',
 '19May2010',
 '20Feb2017',
 '06Mar2016',
 '07Sep2015',
 '14Apr2019',
 '04Sep2016',
 '20Jun2012',
 '30Apr2013',
 '18Nov2019',
 '07Jun2018',
 '21Oct2018',
 '14Jun2018',
 '18Dec2008',
 '10Jun2019',
 '10Sep2014',
 '30Nov2011',
 '21Jun2019',
 '12Mar2018',
 '18Oct2009',
 '22Dec2010',
 '28Dec2014',
 '24Feb2011',
 '21Feb2016',
 '20Mar2018',
 '10Aug2014',
 '22Jan2016',
 '01Oct2005',
 '21Apr2010',
 '16Aug2020',
 '21Jan2019',
 '25Sep2013',
 '14Apr2020',
 '03Jul2009',
 '12May2008',
 '21Nov2015',
 '04Dec2017',
 '05Aug2011',
 '07Mar2008',
 '01Jun2014',
 '06Nov2011',
 '18Dec2013',
 '06Jun2016',
 '20Apr2007',
 '05May2005',
 '23Jun2005',
 '23Jan2005',
 '29Jan2007',
 '20Dec2014',
 '20Oct2013',
 '28May2015',
 '22Dec2019',
 '12Mar2009',
 '25Nov2009',
 '26Nov2010',
 '13Sep2016',
 '18Mar2010',
 '30Jul2005',
 '02Sep2018',
 '05Jun2016',
 '19Jun2011',
 '09Aug2019',
 '16Mar2009',
 '24Sep2007',
 '10Apr2005',
 '07Jan2016',
 '06May2011',
 '24Jan2013',
 '26Jan2015',
 '04Jun2006',
 '14Oct2017',
 '17Mar2018',
 '02Jun2019',
 '04Jun2015',
 '19Oct2005',
 '02Sep2005',
 '08Oct2012',
 '17Aug2017',
 '14Sep2006',
 '16Apr2007',
 '31Dec2017',
 '11Jun2019',
 '31Aug2013',
 '10Nov2006',
 '01May2009',
 '04Dec2009',
 '12May2014',
 '28Sep2007',
 '12Jul2019',
 '01Mar2006',
 '19Nov2013',
 '18Mar2006',
 '06Oct2008',
 '25Aug2015',
 '29Aug2014',
 '05Dec2016',
 '21Jun2016',
 '04Mar2015',
 '20Aug2015',
 '31Jan2020',
 '22Dec2005',
 '30Oct2005',
 '10Sep2010',
 '25Oct2015',
 '23Apr2013',
 '01Jan2008',
 '09Nov2008',
 '10Jan2011',
 '30May2009',
 '13Oct2010',
 '28Jan2019',
 '23May2010',
 '05Jul2018',
 '08Apr2016',
 '17Jul2008',
 '10Feb2013',
 '13Mar2015',
 '19Jan2007',
 '13May2009',
 '28Mar2011',
 '11Oct2013',
 '25Nov2016',
 '02Jan2018',
 '18Sep2015',
 '16Jun2010',
 '23Mar2006',
 '29May2020',
 '09Dec2015',
 '25Feb2018',
 '02Mar2009',
 '16Feb2019',
 '26Feb2008',
 '30Sep2018',
 '22Apr2006',
 '26Sep2012',
 '26Jul2005',
 '09Jan2019',
 '19Nov2007',
 '26Jun2009',
 '18Jul2018',
 '29Jun2011',
 '06Mar2012',
 '29Nov2007',
 '14Dec2019',
 '01Jun2015',
 '06Jan2020',
 '09Feb2018',
 '27Jun2020',
 '04Feb2011',
 '22Aug2008',
 '26May2018',
 '05Aug2014',
 '12Sep2013',
 '19Dec2012',
 '03Mar2010',
 '26Jul2007',
 '23Sep2006',
 '30Apr2012',
 '13Oct2005',
 '01Dec2005',
 '26Mar2005',
 '08Sep2008',
 '08Nov2011',
 '21Feb2005',
 '07Jun2009',
 '17Dec2019',
 '20Oct2009',
 '05Oct2007',
 '04Apr2008',
 '16May2008',
 '19Jul2014',
 '12Nov2012',
 '25Nov2005',
 '03May2011',
 '04Sep2015',
 '27Oct2020',
 '22Aug2008',
 '18Apr2014',
 '11Nov2017',
 '02Jul2015',
 '15Jan2008',
 '19Jun2010',
 '24Jan2007',
 '22Aug2016',
 '12Mar2007',
 '09May2019',
 '26Apr2020',
 '22Dec2012',
 '25Feb2007',
 '19Jul2005',
 '01Apr2010',
 '08Mar2008',
 '10Dec2020',
 '12Feb2011',
 '28Sep2020',
 '21Oct2010',
 '11Feb2016',
 '26Sep2016',
 '13Nov2009',
 '21Dec2020',
 '11Nov2009',
 '23Jul2016',
 '05Aug2016',
 '24Aug2017',
 '05Mar2019',
 '07Aug2014',
 '30Sep2017',
 '27Jan2018',
 '18Oct2009',
 '17Nov2012',
 '16Feb2014',
 '23Dec2020',
 '11Apr2016',
 '13Jun2017',
 '14Jan2012',
 '01Nov2007',
 '24Oct2014',
 '08Dec2010',
 '07Sep2019',
 '28Aug2015',
 '09Jan2016',
 '31Jan2012',
 '22Feb2009',
 '17Aug2019',
 '17Dec2005',
 '14Sep2016',
 '28Jan2013',
 '02Feb2020',
 '10May2019',
 '18Jul2011',
 '31Jan2010',
 '15Nov2017',
 '26Aug2016',
 '05Jun2009',
 '29May2006',
 '15Jun2017',
 '07Oct2007',
 '16Mar2020',
 '01Nov2012',
 '26Jul2008',
 '04Nov2009',
 '23Feb2014',
 '29Jan2016',
 '14Mar2013',
 '28Jul2007',
 '23Sep2012',
 '18Jun2018',
 '12Aug2018',
 '07Aug2015',
 '03Oct2014',
 '14Aug2009',
 '29Jul2007',
 '06Dec2011',
 '28Feb2011',
 '06Sep2018',
 '16Nov2020',
 '19Nov2012',
 '01Sep2009',
 '05Jun2008',
 '13Jun2015',
 '13Dec2008',
 '29Jul2005',
 '06Jun2015',
 '31Dec2017',
 '24Jul2008',
 '26Jul2006',
 '17Oct2006',
 '15Jun2008',
 '14Oct2011',
 '19Nov2015',
 '02Jul2005',
 '12Aug2014',
 '13May2014',
 '31Mar2017',
 '03Feb2011',
 '05Apr2008',
 '19Feb2008',
 '23Aug2018',
 '14Nov2005',
 '15Oct2014',
 '20Nov2007',
 '29Jul2015',
 '27Jun2016',
 '22Jan2014',
 '15Jul2009',
 '13Oct2014',
 '26Jul2009',
 '11Jun2012',
 '25Apr2005',
 '17Mar2013',
 '18Apr2013',
 '05Nov2019',
 '21Nov2009',
 '24Apr2020',
 '11Jun2013',
 '05Feb2015',
 '29Jun2007',
 '19Aug2006',
 '20Mar2009',
 '04Jan2015',
 '09Jul2009',
 '20Jun2008',
 '03Apr2010',
 '13Mar2009',
 '11Apr2014',
 '02Jun2007',
 '29Jun2012',
 '20Aug2007',
 '19Sep2012',
 '12May2007',
 '14Apr2007',
 '13Apr2020',
 '22Dec2014',
 '18Sep2019',
 '09Oct2016',
 '06Oct2018',
 '28Nov2014',
 '25Jan2016',
 '15Sep2018',
 '15Jul2019',
 '15Dec2013',
 '17Oct2020',
 '16Nov2015',
 '31Jan2012',
 '10Jun2007',
 '16Oct2020',
 '03Oct2008',
 '19Jan2007',
 '20Dec2020',
 '11Oct2005',
 '25Jun2015',
 '05Apr2012',
 '01Apr2006',
 '06Jun2018',
 '30Aug2014',
 '18Oct2006',
 '09Mar2018',
 '19Jan2016',
 '20Apr2006',
 '02Feb2005',
 '15May2008',
 '26Nov2018',
 '23Jul2009',
 '16Oct2009',
 '22Sep2013',
 '30Nov2008',
 '25Feb2016',
 '27Nov2016',
 '09Aug2020',
 '01Jan2005',
 '25Sep2010',
 '14Aug2005',
 '15Jun2014',
 '26Feb2015',
 '31Mar2006',
 '21Mar2012',
 '17Dec2015',
 '30Jul2013',
 '24Sep2014',
 '29Dec2006',
 '09Aug2014',
 '23Oct2013',
 '13Nov2019',
 '25Jan2016',
 '06Jan2006',
 '04Oct2014',
 '12Dec2007',
 '08Jan2019',
 '07Aug2018',
 '29Sep2009',
 '02Nov2013',
 '14Nov2011',
 '21May2016',
 '18Jun2018',
 '25Mar2005',
 '11Jan2006',
 '13Apr2009',
 '13Sep2010',
 '13Aug2008',
 '06Apr2015',
 '24Aug2018',
 '10May2007',
 '01Dec2020',
 '29Jun2018',
 '13Jul2009',
 '13Aug2016',
 '08Jul2007',
 '11Nov2005',
 '21Jun2008',
 '04Jun2012',
 '07Nov2017',
 '08Mar2013',
 '24Jul2007',
 '15Mar2014',
 '01Nov2020',
 '19Dec2014',
 '23Jul2013',
 '10Jul2008',
 '16Aug2017',
 '22Sep2011',
 '10Jun2015',
 '06Jun2007',
 '05May2019',
 '07Aug2007',
 '28Jul2020',
 '29Jul2009',
 '12Apr2010',
 '22May2006',
 '16Apr2010',
 '17Oct2013',
 '04Mar2011',
 '17Jul2009',
 '05Sep2020',
 '04Apr2014',
 '28Nov2016',
 '10Nov2009',
 '24Jul2010',
 '09Nov2014',
 '07Jan2008',
 '09Oct2018',
 '04Mar2014',
 '29Jan2019',
 '02Apr2016',
 '23Nov2016',
 '10Aug2011',
 '17Nov2007',
 '14Jan2020',
 '24Apr2008',
 '23Sep2016',
 '23Sep2019',
 '21Aug2020',
 '27Apr2012',
 '29May2017',
 '20Apr2013',
 '01Nov2006',
 '05Mar2019',
 '04Aug2014',
 '28Jun2009',
 '14Apr2009',
 '09Sep2018',
 '08Apr2020',
 '18Dec2008',
 '17Oct2011',
 '02Feb2015',
 '30Jul2013',
 '11Dec2007',
 '07Nov2012',
 '25Jun2020',
 '10Jan2006',
 '19Nov2011',
 '25Sep2018',
 '29Dec2016',
 '29Oct2017',
 '21Nov2017',
 '26Dec2010',
 '14Mar2011',
 '15Dec2007',
 '08Feb2015',
 '25Jan2017',
 '12Aug2012',
 '23Dec2005',
 '20Nov2016',
 '17Aug2016',
 '23May2010',
 '25Feb2011',
 '01Jan2018',
 '19Mar2016',
 '06Feb2006',
 '12Jul2016',
 '24Sep2017',
 '28Dec2011',
 '17Dec2017',
 '09Oct2016',
 '24Jul2013',
 '11Nov2012',
 '30Sep2008',
 '24Dec2010',
 '27Oct2019',
 '25Jun2014',
 '12Jun2018',
 '30Apr2018',
 '30Mar2005',
 '02Aug2019',
 '09Feb2009',
 '22Mar2007',
 '13May2013',
 '11Apr2005',
 '27Oct2009',
 '13Mar2018',
 '22May2019',
 '15Feb2014',
 '14Feb2007',
 '23Aug2008',
 '20Jun2014',
 '17Jun2014',
 ...]

In [20]:
Next_Gen_Eligibilty = ['no']*num_of_emp
Eligible_Promotion = ['no']*num_of_emp

In [21]:
CareerLevelList = ['L1', 'L2', 'L3', 'L4']
CareerLevel = []
for _ in range(num_of_emp):
    CareerLevel.append(random.choice(CareerLevelList))

In [22]:
data_dict = {'Employee_id' : Employee_id, 
    'Skills': Emp_skill, 
    'Joining_Date': Joining_dt, 
    'Num_of_project': NumOfProject, 
    'Next_Gen_eligibility': Next_Gen_Eligibilty, 
    'eligible_promotion': Eligible_Promotion, 
    'Careel_Level': CareerLevel}

In [23]:
import pandas as pd
df = pd.DataFrame(data_dict)

In [24]:
df.head()

,Employee_id,Skills,Joining_Date,Num_of_project,Next_Gen_eligibility,eligible_promotion,Careel_Level
0,10000001,aws,26Jun2005,4,no,no,L1
1,10000002,pyspark,03Feb2007,9,no,no,L4
2,10000003,python,28Mar2013,6,no,no,L3
3,10000004,java,26Jun2006,2,no,no,L3
4,10000005,hive,03Jan2020,1,no,no,L1

In [25]:
df.to_csv(r'C:\Users\HP\Documents\subho\EmployeeDatabase.csv', index=False)

In [35]:
a=list()

In [36]:
type(a)

list

In [37]:
a=[]

In [39]:
type(a)

list

In [40]:
a = ['egg','kyc',100, 2*2]

In [55]:
len(a)

4

In [47]:
a[1]+str(32)

'kyc32'

In [51]:
'hello' * 2

'hellohello'

In [54]:
a[2] *2

200

In [56]:
b=tuple(a)

In [57]:
type(b)

tuple

In [58]:
b

('egg', 'kyc', 100, 4)

In [59]:
a

['egg', 'kyc', 100, 4]

In [60]:
a[1]=34

In [61]:
a

['egg', 34, 100, 4]

In [63]:
b=[3,4,5,6]

In [64]:
a+b

['egg', 34, 100, 4, 3, 4, 5, 6]

In [65]:
a.append(b)

In [66]:
a

['egg', 34, 100, 4, [3, 4, 5, 6]]

In [67]:
type(a)==str

False

In [68]:
a='accenture'

In [69]:
a[1]

'c'

In [70]:
a[-1]

'e'

In [71]:
a[::-1]

'erutnecca'

In [72]:
a[::2]

'acnue'

In [74]:
a[2]='f'

TypeError: 'str' object does not support item assignment

In [78]:
x=int(input("enter"))
if x==7:
    pass
else:
    print(5)

enter65
5

In [79]:
def sumNum(a, b=10):
    print(a+b)

In [81]:
sumNum(2,34)

36

In [82]:
a=lambda (x,y,z):x**2

In [83]:
a(2)

4

In [85]:
a=[1,2,3,4]

In [86]:
a

[1, 2, 3, 4]

In [88]:
5 in a

False

In [89]:
a =[2,3,4]

In [93]:
for x in ({x:x+2} for x in a):
    print(x)

{2: 4}
{3: 5}
{4: 6}